absl-py
astunparse
audioread
blinker
certifi==2025.1.31
cffi
charset-normalizer
click
decorator
Flask
flatbuffers
gast
google-pasta
grpcio
h5py
idna
itsdangerous
Jinja2
joblib
keras
libclang
librosa
llvmlite
Markdown
markdown-it-py
MarkupSafe
mdurl
msgpack
namex
numba
numpy
opt_einsum
packaging
platformdirs
pooch
protobuf
pycparser
Pygments
requests
rich
scikit-learn
scipy
setuptools
six
soundfile
soxr
tensorboard
tensorboard-data-server
tensorflow
termcolor
threadpoolctl
urllib3
uWSGI
Werkzeug
wheel
wrapt
